<h1 class='title'>HereMeNow</h1></br>
  <h3 class='description'>"HereMeNow" is an app made for the die-hard musical fan. Visiting a different city? With "HereMeNow", you can plug in your location and receive an awesome playlist based on local artists! Don't want to give your location (or mapping services are unavailable in your area)? Never fear! "HereMeNow" will auto-generate a globe-trotting mix of international pop!
  </h3>

  <h5 id='description'>*Music by city matching currently available in the following cities:
    <ul>
      <li>New York, NY</li>
      <li>Los Angeles, CA</li>
      <li>Miami, FL</li>
      <li>Seattle, WA</li>
    </ul>
  </h5>

<a href='/locations'>Select Your Current Location</a></br>
<a href="/login">Login with your Spotify Account</a></br>

<a href='http://www.spotify.com'>Don't have a Spotify account? Create one here!</a>
