<h2 class='playlist'>Random Playlist for <%= @artist_city.capitalize %></h2>

<ul class='list'>
  <% @songs.each do |song| %>
    <li>
      <a href="<%= song[:song] %>"><%= song[:artist] %></a>
      <!-- <%#= song[:artist] %>: <a href="<%#= song[:song] %>"><%#= song[:song] %></a> -->
    </li>
  <% end %>
</ul>

<a href='/'>Return To Home Page</a></br>
<a href="/locations">Return To Search Page</a>

