/*#map {
  height: 180px;
}*/

body {
  /*margin: 0 auto;*/
  background: url("http://ak3.picdn.net/shutterstock/videos/912673/preview/stock-footage-music-world-with-headphones-and-equalizer-equalizer-hd-d-animation-music-world-earth.jpg") no-repeat;
  background-size: cover;
  background-color: #000000;
  position: relative;
  color: #ffffff;
  max-width: 600px;
}

div {
  border-color: pink;
  display: inline-block;
  position: fixed;
  width: 400px ;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 75px;
  /*text-align: center;*/
  /*font-style: c*/
  width: 400px ;
  margin-left: 65%;
  margin-right: auto;
}

.playlist {
  width: 400px ;
  margin-left: 50%;
  margin-right: auto;
}
.description {
  font-size: 35px;
  /*text-align: center;*/
  width: 400px ;
  margin-left: 50%;
  margin-right: auto;
}

.beta {
  color: #44cc22;
  width: 400px ;
  margin-left: 50%;
  margin-right: auto;
}

.sample {
  width: 400px ;
  margin-left: 43%;
  margin-right: 55%;
  margin-top: 15%;
  margin-bottom: 50%;
}

legend.white-text {
  color: white;
}

input[type=email] {
  color: black;
}

input[type=text] {
  color: black;
}

.pure-button {
  background-color: #FF0066;
}

/* unvisited link */
a:link {
    color: #FF0000;
}

/* visited link */
a:visited {
    color: #00FF00;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
}

/* selected link */
a:active {
    color: #0000FF;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: #000000;
  opacity: 0.3;
  padding: 15px;
  width: 50px;
  height: 50px;
  margin-top: 15px;

  line-height: 15px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

/*css for mobile browser*/
@media (max-width: 500px) {
  body {
    background-image: image-url("ka_oops_face.png");
    background-color: lightgray;
    position: fixed;
  }
  h1, div, legend, input, .title, .playlist, .list, .menu {
/*    font-size: 50px;
    margin-top: 20px;
    line-height: 40px;*/
    display: none;
  }
}
