/*#map {
  height: 180px;
}*/

body {
  /*margin: 0 auto;*/
  background: url("http://ak3.picdn.net/shutterstock/videos/912673/preview/stock-footage-music-world-with-headphones-and-equalizer-equalizer-hd-d-animation-music-world-earth.jpg") no-repeat;
  background-size: cover;
  position: relative;
  color: #ffffff;
  max-width: 600px;
}

div {
  border-color: pink;
  display: inline-block;
  position: center;
  width: 700px ;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 75px;
  text-align: center;
  /*font-style: c*/
}

.description {
  font-size: 35px;
  text-align: center;
}

.beta {
  color: #44cc22;
}

@media (max-width: 500px) {
  body {
    background: red;
    h1 {
    font-size: 50px;
    margin-top: 20px;
    line-height: 40px;
  }
  h2 {
    font-size: 20px;
    margin: 20px 0 30px 0;
  }
  div {
    margin: 20px 12px 0 12px;
  }
  p {
    line-height: 24px;
    font-size: 20px;
  }
  small {
    font-size: 16px;
  }
}
