#map {
  height: 180px;
}

body {
  /*background-image: url('http://ak3.picdn.net/shutterstock/videos/912673/preview/stock-footage-music-world-with-headphones-and-equalizer-equalizer-hd-d-animation-music-world-earth.jpg');*/
  /*background-repeat: no-repeat;*/
  background: url("http://ak3.picdn.net/shutterstock/videos/912673/preview/stock-footage-music-world-with-headphones-and-equalizer-equalizer-hd-d-animation-music-world-earth.jpg") no-repeat;
  background-size: 1450px;
  /*fo*/
  color: #ffffff;
}

/*.title {

}*/
