<h2>Select Your Location:</h2></br>
<div class='sample'>

  <%= form_tag '/spotify/search', :method => :get do %>
    <p><%= text_field_tag(:user_city, nil, {placeholder: "Location (ex. New York, Lincoln, San Antonio):"}) %>
      <%= submit_tag 'Search' %>
    </p>
  <% end %>
</div>



<%# @artist_city.each do |city| %>
  <%#= city.first %>
<%# end %>
<h4><a href='/'>Return to Homepage</h4>

