<!DOCTYPE html>
<html>
<head>
  <title>HeremenowApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- <a href='spotify:artist:0C8ZW7ezQVs4URX5aX7Kqx'>Play Me!</a> -->
<%= yield %>

</body>
</html>
